@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  Button {
    @apply shadow-md;
  }
}

@layer utilities {
  .h1-bold {
    @apply text-[50px] font-bold font-sansita-swashed tracking-wide text-primary;
  }

  .active {
    @apply bg-[#FFEA7E];
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
